body {
    margin: 0;}
  
main {
    margin-left: 300px; 
    padding: 100px 10px;
    position: relative;
}

#tasks {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
  
#tasks td, #tasks th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#tasks tr:nth-child(odd){background-color: #f2f2f2;}
  
#tasks tr:hover {background-color: #ddd;}
  
#tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a0d48a;
    color: white;
}