body {
    margin: 0;}
  
  main {
    margin-left: 300px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  form {
    width: 1000px;
    height: 400px;
    /* this will help us center it*/
    margin: auto;
    background-color: #ffffff;
    border-radius: 50px;
    /* make it a grid container*/
    display: grid;
    /* single column layout */
    grid-template-columns: 1fr;
    /* add some padding around */
    padding: 10vh 15px;
  }

  h3{
      font-size: 25px;
      text-align: center;
      font-weight: bold;
  }
  ul{
    text-align: center;
    font-size: 22px;
  }

  li{
      padding: 8px;
  }
  #btn_vote{
      height: 40px;
      /* make the borders more round */
      border-radius: 30px;
      width: 12%;  
    /* submit button has a different color and different padding */
      background-color: #74a55ed3;
      padding-left: 0;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      justify-self: center;
  }
  
  #btn_vote:hover {
    background-color:#40e263;
    /* simple color transition on hover */
    transition: background-color,
        1s;
    cursor: pointer;
  }

form a {
    /* remove default underline */
    text-decoration: none;
    text-align: center;
    color: #1FCC44;
    font-weight: bold;
}

form a:hover {
    color: #40e263;
}